body {
    background: #eee;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body #pagewrap {
    background: #fff;
    max-width: 1160px;
    margin-right: auto;
    margin-left: auto;
    box-shadow: 0 0 15px rgba(0, 0, 0, .1);
    height: 100vh;
    margin-top: -1.5em;
    padding: 1em;
}

#pagewrap h1, #pagewrap h2, #pagewrap > p {
    text-align: center;
}

#pagewrap ul {
    list-style-type: none;
}

#pagewrap li.memtech-member {
    text-align: center;
}

#pagewrap ul.projects {
    text-align: center;
}

#pagewrap ul.projects > li {
    display: inline-block;
    border-right: 1px solid gray;
    padding-right: 1em;
    padding-left: 1em;
}

#pagewrap ul.projects > li:last-child {
    border-right: none;
}